html {
  min-height: 100%;
  position: relative;
}

/*login*/

#body-log{
    background-image: linear-gradient(to right, #056886, #00E7FF);
}

/*header*/

body{
    background-image: linear-gradient(to right, #056886, #00E7FF);
}

/*
header{
    width: 100%;
    height: 41.2px;
    display: block;
    background-color: aqua;

}
*/

/* login*/
#login{

	width: 350px;
	background-color: aquamarine;
	position: relative;
	margin: 20% auto;
	border-radius: 10px;
	height: 300px;
    overflow: hidden;
}

#datos{
    position: relative;
    margin-top: 5%;
    padding: 5%;
}

#datos #ingresar{
    margin-left: 78%;
}

.logo-banner{
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
   
}

.logo{
   
	text-align: center;
	padding-top: 5%;

}

/*tbla*/

.cuadro{
    width: 72%;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    border-radius: 20px;
    
}

/*Menu admin*/



#menu-admin{

    background-color: #343a40;
    width: 100%;
    height: auto;
    border-radius: 20px;
    position: relative;
    margin-top: 5%;

}

.user{
    position: relative;
    margin-top: 5%;
    color:whitesmoke;
}

.ppal-admin{
    height: 500px;
    /*border-bottom: whitesmoke 2px solid;*/
}




.menu-elem{

    height: 150px;
    /*border: whitesmoke 2px solid;*/
    justify-content: center;
    text-align: center;
}

.link-background{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 4.5%;
    background-color: #007bff;
    border-radius: 10px;   
}

.link-menu{


    font-size: 80px;
    color: whitesmoke;

}

/*crear blog*/

#crea-blog{
    list-style: none;
    position: relative;
    margin-top: 2%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#titulo_entrada{
    border: none;
    font-size: 30px;
    text-align: center;
    width: 100%;
    border-bottom: 2px groove;
}

#texto_parrafo{
    border: none;
    width: 100%;
    font-size: 20px;
}

#foto-footer{
    border: none;
    width: 100%;
    font-size: 16px;
}

.titulo_parrafo{
    border: none;
    font-size: 25px;
    text-align: center;
    width: 100%;
    border-bottom: 1px groove;
}

.texto_parrafo{
    border: none;
    width: 100%;
    font-size: 18px;
}

/*ver admin*/

#titulo_ppal{
    text-align: center;
}

.entrada{
    font-family: Helvetica
}

#img-ppal{
    margin: 10px 0;
}

#footer{
    font-size: 10px;
}

#parra-ppal{
    font-size: 18px;
}

.subtitulo{
    margin: 10px 0;
    font-size: 24px;
}

.paraf-secun{
    font-size: 16px;
}
.blog-admin{
    margin-top: 3%;
    position: relative;
    margin-bottom: 8%;
    background-color: white;
    padding: 1%;
}

/*Edicion*/

#edicion{
    font-family: Helvetica;
    background-color: white;
    position: relative;
    margin-top: 5%;
    margin-bottom: 8%;
    padding-bottom: 20px;
}

.edit-entrada{
    list-style: none;
}

.ppal-ttlo{
    border: none;
    font-size: 30px;
    width: 100%;
    border-bottom: 2px groove;
    margin-bottom: 1.5%;
    text-align: center;
    
}

.ppal-footer{
    border: none;
    width: 100%;
    font-size: 10px;
}

.ppal-texto{
    border: none;
    width: 100%;
    font-size: 16px;

}

.parraf-sub{
    border: none;
    font-size: 25px;
    width: 100%;
    border-bottom: 1px groove;
    margin-bottom: 1.5%;
}

.parraf-tex{
    border: none;
    width: 100%;
    font-size: 18px;
}

.borrar{
    position:relative;
    margin-top: 5px;
}



/*crear usuario*/

.user-container{
    background-color: #343a40;
    width: 100%;
    height: auto;
    border-radius: 20px;
    color: white;
    position: relative;
    margin-top: 2%;

}

/*seguridad*/

.seguridad{
    background-color: #343a40;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 3%;
}

#habilitar{
    position: relative;
    margin-bottom: 9%;

}

/*Ver mensaje*/

#mensaje{
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
    color: aliceblue;
    background-color: #343a40;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 3%;
}

#mensajeTexto{
    color: #343a40;
    position: relative;
    margin-top: 10px;
    background-color: #b5babf;
    width: 30%;
    height: auto;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* FOOTER */

.footer{
    background-color: #343a40;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
}


.link-background-footer{
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #007bff;
    border-radius: 10px;
    justify-content: center;
    text-align: center;  

}

.link-menu-footer{

    font-size: 30px;
    color: whitesmoke;

}